nav#menu {
    border: 3px solid;
}

nav#menu ul {
    list-style-type: none;
}

nav#menu li {
    border: 1px solid;
    display: inline-block;
    background-color: red;
    color: blue;
    padding: 10px;
}


