body {
    margin: 0;
}

nav {
    background-color: rgb(20, 19, 19);
    box-shadow: 0 0 14px #000; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    margin: 30px;
    height: 100px;
    border-radius: 5px;
}

.itens {
    display: flex;
    justify-content: end;
    margin: 60px;
}

.itens ul{
    display: flex;
    gap: 30px;
}

.itens li {
    list-style: none;
}

.itens li a{
    color: aliceblue;
    background-color: black;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}